<div class="container">
    <div class="row justify-content-between">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="single-footer-widget mb-80">
                <!-- Footer Logo -->
                <a href="#" class="footer-logo"><img src="https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fcore-img%2Flogo.png?alt=media&token=7b9e2f7d-349b-48e7-a2f3-b84ca32cb9b7" alt=""></a>
               <p class="mb-30">Let us indulge you with our fantastic services. Checkout our services
                        <span><a href="/services" title="Colorlib">here</a> <span></span>and treat yourself to a Athena Nails & Spa experience.</span>
                </p>
                <!-- Copywrite Text -->
                <div class="copywrite-text">
                    <span>Copyright © 2019 Designed by <a href="https://www.facebook.com/nguyendinhquochieu98" target="_blank"
                            title="Designer">Hieu Nguyen Dinh Quoc</a>. All rights
                        reserved.</span>
                </div>
            </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="single-footer-widget mb-80">
                <!-- Widget Title -->
                <h4 class="widget-title">Opening times</h4>

                <!-- Open Times -->
                <div class="open-time">
                    <p>Monday - Saturday: 9.30 to 19.30</p>
                    <p>Sunday: 11.30 to 18.00</p>
                </div>

                <!-- Social Info -->
                <div class="social-info">
                    <a target="_blank" href="https://www.facebook.com/AthenaNandS/" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-md-4 col-xl-3">
            <div class="single-footer-widget mb-80">

                <!-- Widget Title -->
                <h4 class="widget-title">Contact Us</h4>

                <!-- Contact Address -->
                <div class="contact-address">
                    <p>Tel:<a aria-hidden="true" href="tel://(201) 847-9900"> (201) 847-9900</a></p>
                    <p>E-mail: Hello.colorlib@gmail.com</p>
                    <p>Address: 5630 W Loop 1604 N San Antonio, TX 78251</p>
                </div>
            </div>
        </div>
    </div>
</div>