<!-- Top Header Area Start -->
<div class="top-header-area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-5">
                <div class="top-header-content">
                    <p>Welcome to Athena Nail & Spa!</p>
                </div>
            </div>
            <div class="col-7">
                <div class="top-header-content text-right">
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Sat: 9.30 to 19.30   |   Sun: 11.30 to 18.00  <span class="mx-2"></span> | <span class="mx-2"></span> <i class="fa fa-phone" aria-hidden="true"></i> Call us : <a aria-hidden="true" title="Click to make a phone call" href="tel://(201) 847-9900">(201) 847-9900</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header Area End -->

<!-- Main Header Start -->
<div class="main-header-area" id="my-header">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="akameNav">

                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="https://firebasestorage.googleapis.com/v0/b/athenanailsgallery.appspot.com/o/img%2Fcore-img%2Flogo.png?alt=media&token=7b9e2f7d-349b-48e7-a2f3-b84ca32cb9b7" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li><a href="/">Home</a></li>                               
                            <li class="{{#if isActive}}active{{/if}}"><a href="/services">Services</a></li>
                            <li><a href="/promotion">Promotion</a></li>
                            <li><a href="/aboutus">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                        <!-- Book Icon -->
                        <div class="book-now-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                            <a href="#" data-toggle="modal" data-target="#modalDateTime" class="btn akame-btn">Book Now</a>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>
