    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Promotion</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Promotion</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Service Area Start -->
    <section class="akame-service-area">

        <!-- Single Service Item -->
        <div class="single--service--item odd-item  d-flex flex-wrap align-items-center">
            <!-- Service Content -->
            <div class="service-content">           
                <div class="service-text">
                    <h2>20% Off All Services - Grand Opening</h2>
                    <div class="book-now-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                    <a href="#" data-toggle="modal" data-target="#modalDateTime" class="btn akame-btn">Book Now>>></a>
                    </div>    
                </div>
                <div
                class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center">
                <span>20% off</span>
                </div> 
            </div>
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(img/upload/1.jpg);"></div>
        </div>

        <!-- Single Service Item -->
        <div class="single--service--item d-flex flex-wrap align-items-center">
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(img/upload/1.jpg);"></div>

            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>50% Off At:</h2>
                    <p class="product_price" style="font-size: 17px;">Dye L'Oréal:  <span></span> $50<span style="font-size: 17px;">$55+</span></p>
                    <p class="product_price" style="font-size: 17px;">Dye L'Oréal:  <span></span> $50<span style="font-size: 17px;">$55+</span></p>
                    <p class="product_price" style="font-size: 17px;">Dye L'Oréal:  <span></span> $50<span style="font-size: 17px;">$55+</span></p>
                    <p class="product_price" style="font-size: 17px;">Dye L'Oréal:  <span></span> $50<span style="font-size: 17px;">$55+</span></p>
                    <p class="product_price" style="font-size: 17px;">Dye L'Oréal:  <span></span> $50<span style="font-size: 17px;">$55+</span></p>
                    <div class="book-now-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                    <a href="#" data-toggle="modal" data-target="#modalDateTime" class="btn akame-btn">Book Now>>></a>
                    </div> 
                </div>
                <div
                class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center">
                <span>50% off</span>
                </div>
            </div>
        </div>

    </section>
    <!-- Service Area End -->